# Documentation
include README.md

# CNV/SV
recursive-include SigProfilerMatrixGenerator/references/CNV *
recursive-include SigProfilerMatrixGenerator/references/SV *

# Transcripts
recursive-include SigProfilerMatrixGenerator/references/chromosomes/exome *
recursive-include SigProfilerMatrixGenerator/references/chromosomes/transcripts *
recursive-include SigProfilerMatrixGenerator/references/chromosomes/tsb_BED *

# Scripts
include SigProfilerMatrixGenerator/scripts/*
include SigProfilerMatrixGenerator/controllers/*

# Other
recursive-include SigProfilerMatrixGenerator/references/chromosomes/context_distributions *
include SigProfilerMatrixGenerator/scripts/Benchmark/*
