recursive-include SigProfilerMatrixGenerator/references/vcf_files/* *.vcf
recursive-include SigProfilerMatrixGenerator/references/chromosomes/transcripts/* *.txt
include SigProfilerMatrixGenerator/references/chromosomes/exome/*
include SigProfilerMatrixGenerator/references/CNV/*
include SigProfilerMatrixGenerator/references/chromosomes/tsb_BED/*
include SigProfilerMatrixGenerator/references/chromosomes/context_distributions/*
include SigProfilerMatrixGenerator/scripts/Benchmark/*
include SigProfilerMatrixGenerator/scripts/*